/* body {
    color:#333
  }
  
  .header{
      background-color: #ef5350;
    color:yellow;
  }
  .card-img-top{
    width: 150px;
    vertical-align: middle;
    margin: 1px auto;
  }
  
  .btn-pok{
    font-size: 13px;
    color:white;
  } */